body {
  background-image:url(backgimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0%;
   
} 
.container {
    text-align: center;
    text-decoration-style: double;
    border-color: black;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(79, 0, 152, 0.1);
}

h1 {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: #04468d;
}

button {
    padding: 10px 20px;
    background-color: #04468d;
    color: rgb(255, 239, 239);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #002770;
}

#uploadStatus {
    margin-top: 20px;
}
